@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(51, 65, 85, 0.5);
  /* slate-700 with low opacity */
  border-radius: 10px;
  border: 2px solid transparent;
  /* Creates padding effect */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 0.8);
  /* slate-600 with higher opacity */
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(51, 65, 85, 0.5) transparent;
}